<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Evara Dashboard</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
  <!-- Template CSS -->
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
      </div>
    </div>
    <nav>

      <div class="sellerCard d-flex flex-col align-items-center">
        <div class="">
          <img class="cardLogo" src="http://placekitten.com/100/100" alt="logo">
        </div>
        <div class="sellerName">
          <h5> Mahmoud Saad </h5>
        </div>
      </div>


      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="page-products-list.html">Product List</a>
            <a href="page-products-grid.html">Product grid</a>
            <a href="page-products-grid-2.html">Product grid 2</a>
            <a href="page-categories.html">Categories</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
          <div class="submenu">
            <a href="page-orders-1.html">Order list 1</a>
            <a href="page-orders-2.html">Order list 2</a>
            <a href="page-orders-detail.html">Order detail</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
            <span class="text">Sellers</span>
          </a>
          <div class="submenu">
            <a href="page-sellers-cards.html">Sellers cards</a>
            <a href="page-sellers-list.html">Sellers list</a>
            <a href="page-seller-detail.html">Seller profile</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
            <span class="text">Add product</span>
          </a>
          <div class="submenu">
            <a href="page-form-product-1.html">Add product 1</a>
            <a href="page-form-product-2.html">Add product 2</a>
            <a href="page-form-product-3.html">Add product 3</a>
            <a href="page-form-product-4.html">Add product 4</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Transactions</span>
          </a>
          <div class="submenu">
            <a href="page-transactions-1.html">Transaction 1</a>
            <a href="page-transactions-2.html">Transaction 2</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
            <span class="text">Account</span>
          </a>
          <div class="submenu">
            <a href="page-account-login.html">User login</a>
            <a href="page-account-register.html">User registration</a>
            <a href="page-error-404.html">Error 404</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
            <span class="text">Brands</span> </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Statistics</span>
          </a>
        </li>
      </ul>
      <hr>
      <ul class="menu-aside">
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
          </a>
          <div class="submenu">
            <a href="page-settings-1.html">Setting sample 1</a>
            <a href="page-settings-2.html">Setting sample 2</a>
          </div>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
            <span class="text"> Starter page </span>
          </a>
        </li>
      </ul>
      <br>
      <br>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
            <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
          </div>
          <datalist id="search_terms">
            <option value="Products">
            <option value="New orders">
            <option value="Apple iphone">
            <option value="Ahmed Hassan">
          </datalist>
        </form>
      </div>
      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
          </li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
              <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
              <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
              <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
              <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
              <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
              <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
              <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
              <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
              <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- Start main section -->
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Statistics</h2>
          <p>Whole site data, your key to grow!</p>
        </div>
        <div>
          <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Some button :)</a>
        </div>
      </div>

      <!-- products row -->
      <!-- start of products stats -->
      <div class="row card flex-row">
        <div class="col-lg-7">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Products</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Created</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>500</span>
                    </div>
                    <span>Product</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Product one</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>250</span>
                    </div>
                    <span>Product</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Product Two</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>150</span>
                    </div>
                    <span>Product</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Product Three</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>100</span>
                    </div>
                    <span>Product</span>
                  </div>
                </div>

              </div>
            </article>
          </div>
        </div>
        <!-- end of products stats -->

        <!-- start of products chart -->
        <div class="col-lg-5">
          <article class="card-body">
            <h4 class="card-title chart">All Products Chart</h4>
            <canvas id="productsChart" height="300"></canvas>
          </article>
        </div>
        <!-- start of products chart -->
      </div>
      <!-- end of products row -->

      <!-- users row -->
      <!-- start of users stats -->
      <div class="row card flex-row">
        <div class="col-lg-5">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Users</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Registered</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>450</span>
                    </div>
                    <span>User</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Today</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>50</span>
                    </div>
                    <span>User</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Last 7 days</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>120</span>
                    </div>
                    <span>User</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Last 30 days</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>240</span>
                    </div>
                    <span>User</span>
                  </div>
                </div>

              </div>
            </article>
          </div>
        </div>
        <!-- end of users stats -->

        <!-- start of users chart -->
        <div class="col-lg-7">
          <article class="card-body">
            <h4 class="card-title chart">Users Over Time</h4>
            <canvas id="usersChart" height="150"></canvas>
          </article>
        </div>
        <!-- start of users chart -->
      </div>
      <!-- end of users row -->

      <!-- sellers row -->
      <!-- start of sellers stats -->
      <div class="row card flex-row">
        <div class="col-lg-5">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Seller ♥</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Registered</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>120</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Today</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>10</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Last 7 days</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>35</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Last 30 days</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>90</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Active</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>100</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Inactive</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>10</span>
                    </div>
                    <span>Seller</span>
                  </div>
                </div>

              </div>
            </article>
          </div>
        </div>
        <!-- end of sellers stats -->

        <!-- start of sellers chart -->
        <div class="col-lg-7">
          <article class="card-body">
            <h4 class="card-title chart">Seller Over Time</h4>
            <canvas id="sellersChart" height="150"></canvas>
          </article>
        </div>
        <!-- start of sellers chart -->
      </div>
      <!-- end of sellers row -->

      <!-- stores row -->
      <!-- start of stores stats -->
      <div class="row card flex-row">
        <div class="col-lg-5">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Stores</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Created</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>200</span>
                    </div>
                    <span>Store</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Active</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>150</span>
                    </div>
                    <span>Store</span>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Inactive</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>50</span>
                    </div>
                    <span>Store</span>
                  </div>
                </div>

              </div>
            </article>
          </div>
        </div>
        <!-- end of stores stats -->

        <!-- start of stores chart -->
        <div class="col-lg-7">
          <article class="card-body">
            <h4 class="card-title chart">Stores Over Time</h4>
            <canvas id="storesChart" height="150"></canvas>
          </article>
        </div>
        <!-- start of stores chart -->
      </div>
      <!-- end of stores row -->

      <!-- orders row -->
      <!-- start of orders stats -->
      <div class="row card flex-row">
        <div class="col-lg-5">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Orders</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Created</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>200</span>
                    </div>
                    <span>Order</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Manual</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>150</span>
                    </div>
                    <span>Order</span>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Organic</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>50</span>
                    </div>
                    <span>Order</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Delivered</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>180</span>
                    </div>
                    <span>Order</span>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <!-- end of orders stats -->

        <!-- start of orders chart -->
        <div class="col-lg-7">
          <article class="card-body">
            <h4 class="card-title chart">Orders Over Time</h4>
            <canvas id="ordersChart" height="150"></canvas>
          </article>
        </div>
        <!-- start of orders chart -->
      </div>
      <!-- end of orders row -->

      <!-- revenue row -->
      <!-- start of revenue stats -->
      <div class="row card flex-row">
        <div class="col-lg-5">
          <div class="card-body mb-2">
            <article class="card-body ">
              <h3 class="card-title">Revenue $</h3>
              <div class="card-stats">

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h4>Total Revenue</h4>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="stat-value-main">
                      <span>5000</span>
                    </div>
                    <span>L.E</span>
                  </div>
                </div>

                <hr>

                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Base Revenue</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>4000</span>
                    </div>
                    <span>L.E</span>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <div class="stat-name">
                      <h5>Sellers Profit</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="stat-value-sub">
                      <span>1000</span>
                    </div>
                    <span>L.E</span>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <!-- end of revenue stats -->

        <!-- start of revenue chart -->
        <div class="col-lg-7">
          <article class="card-body">
            <h4 class="card-title chart">Revenue Over Time</h4>
            <canvas id="revenueChart" height="150"></canvas>
          </article>
        </div>
        <!-- start of revenue chart -->
      </div>
      <!-- end of revenue row -->


  </main>

  <style>
    .card-body {
      padding: 0.8rem 0.8rem;
    }

    .stat-value-main {
      padding-right: 5px;
      font-size: 22px;
      font-weight: 600;
      display: block;
    }

    .stat-value-sub {
      padding-right: 4px;
      font-size: 18px;
      font-weight: 600;
      display: block;
    }

    .flex-row {
      flex-direction: row;
    }

    .chart {
      text-align: center;
    }

    .sellerCard {
      padding: 10px 10px 0px;
    }

    .cardLogo {
      border: 3px solid #eee;
      border-radius: 50%;
      margin: 8px 0px;
      width: 50px;
    }

    .sellerName {
      margin-bottom: 5px;
      padding: 0 5px;
    }


  </style>
  <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="assets/js/vendors/select2.min.js"></script>
  <script src="assets/js/vendors/perfect-scrollbar.js"></script>
  <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
  <script src="assets/js/vendors/chart.js"></script>
  <!-- Main Script -->
  <script src="assets/js/main.js" type="text/javascript"></script>
  <script src="assets/js/custom-chart.js" type="text/javascript"></script>
</body>

</html>